/* Облать легенды*/

.legend_box {
  overflow: hidden;
  min-height: 250px;
  min-width: 250px;
  width: 100%;

  /* border: 1px solid blue; */
}

/* Область характеристики региона */
.spec_box {
  overflow: hidden;
  min-height: 235px;
  min-width: 250px;
  width: 100%;
  margin-bottom: 10px;

  /* border: 1px solid green; */
}
